@font-face { font-family: 'Fredoka'; src: url('../../assets/fonts/Fredoka.ttf') format('truetype'); font-weight: 300 700; }
@font-face { font-family: 'IBM Plex Sans'; src: url('../../assets/fonts/IBMPlexSans.ttf') format('truetype'); font-weight: 100 700; }
@font-face { font-family: 'IBM Plex Mono'; src: url('../../assets/fonts/IBMPlexMono-Regular.ttf') format('truetype'); font-weight: 400; }
@font-face { font-family: 'IBM Plex Mono'; src: url('../../assets/fonts/IBMPlexMono-Medium.ttf') format('truetype'); font-weight: 500; }
